*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo{
    float: left;
}

header nav.pc{
    float: right;
    position: relative;
    top: 40px;
}

header nav.mb{
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("../imagem/mb_menu.png");
    display: none;
}

header nav.mb ul{
    width: 100%;
    left: 0;
    top: 120px;
    border-bottom: 4px solid #EB2D2D;
    z-index: 999;
    position: absolute;
    text-align: center;
    background-color: white;
    display: none;
}

header nav.mb li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
}

nav.mb li a{
    color: black;
    text-decoration: none;
}

header nav.pc ul{
    list-style-type: none;
}

header nav.pc ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}

header nav.pc a{
    color: black;
    text-decoration: none;
}

section.banner{
    overflow: hidden;
    width: 100%;
    height: 100vw;
    min-height: 600px;
    max-height: 800px;
    background-color: black;
    background-image: url("../imagem/bg.jpg");
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 100px;
}

.text-banner-single{
    font-style: italic;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 12px 30px;
    width: 314px;
    height: 60px;
    color: white;
    font-size: 23px;
    background-image: url("../imagem/box-text.png");
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 250px;
    height: 60px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 200px;
    height: 60px;
    position: relative;
    left: -18px;
}

.text-banner .text-banner-single:nth-of-type(4){
    font-size: 21px;
    width: 320px;
    height: 60px;
    color: black;
    position: relative;
    left: -30px;
    background-image: url("../imagem/box-white-text.png");
}

section.destaque{
    padding: 90px 2%;
}

section.destaque .container{
    max-width: 1000px;
    padding: 40px 0;
    text-align: center;
}

.line-titulo{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.ln1{
    position: relative;
    height: 2px;
    width: 100%;
    top: 22px;
    background-color: black;
}

.line-titulo h2{
    position: relative;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    padding: 0 15px;
    font-style: italic;
    text-transform: uppercase;
}

.vitrine{
    float: left;
    width: 33.3%;
}

.vitrine .carro-img{
    width: 100%;
    padding-top: 100%;
    border: 8px solid white;
    background-size: 100% 100%;
}

.vitrine h2{
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
    text-align: left;
}

.vitrine p{
    padding-left: 8px;
    color: #353535;
    font-size: 16px;
    font-style: italic;
    padding-top: 8px;
    text-align: left;
}

.btn1{
    text-align: center;
    color: white;
    font-size: 16px;
    font-style: italic;
    width: 150px;
    display: block;
    line-height: 35px;
    background-color: #EB2D2D;
    text-decoration: none;
    border-bottom: 4px solid #B21E1E;
    cursor: pointer;
}

.vitrine a{
    margin-top: 10px;
    margin-left: 8px;
}

.servicos{
    display: flex;
}

.half1{
    width: 50%;
    text-align: right;
    padding: 90px 2%;
    background-color: #242424;
    color: white;
}

.half1-wraper{
    padding-right: 30%;
    text-align: left;
    display: inline-block;
}

.half1-wraper h2{
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

.half1-wraper ul{
    display: inline-block;
    margin-top: 20px;
}

.half1-wraper li{
    margin-left: 15px;
}

.half1-wraper a{
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.half2{
    width: 50%;
    padding: 90px 100px;
    background-color: #EB2D2D;
    color: white;
}

.half2 h2{
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

.half2 .depoimento-single{
    margin-top: 19px;
}

.depoimento-single p{
    font-size: 21px;
}

.setas{
    float: left;
    width: 100%;
    max-width: 700px;
    margin-top:  30px;
}

.setas img{
    cursor: pointer;
    margin: 0 20px;
}

.flecha{
    float: left;
}

.nome{
    float: right;
    color: #252525;
    font-size: 23px;
}

@media screen and (max-width: 1400px){
    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1210px){

    .half1{
        text-align: center;
    }

    .half1-wraper{
        text-align: left;
        padding-right: 0;
    }

    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }

}

@media screen and (max-width: 1024px){
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 800px){
    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px){

    section.servicos{
        flex-direction: column;
    }

    .half1, .half2{
        padding: 80px 4%;
        width: 100%;
    }

    nav.pc{
        display: none;
    }

    header nav.mb{
        display: block;
    }
}

@media screen and (max-width: 580px){
    .text-banner{
        padding: 30px;
    }
    
    .text-banner-single{
        font-size: 18px;
    }

    section.destaque .line-titulo h2{
        font-size: 25px;
    }

    .vitrine{
        display: inline-block;
        float: none;
        width: 75%;
        margin-top: 20px;
    }

    .vitrine h2{
        text-align: center;
    }

    .vitrine p{
        text-align: center;
    }

    .vitrine a{
        display: inline-block;
    }
}

@media screen and (max-width: 480px){
    .vitrine{
        width: 100%;
    }
}