*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo{
    float: left;
}

header nav.pc{
    float: right;
    position: relative;
    top: 40px;
}

header nav.mb{
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("../imagem/mb_menu.png");
    display: none;
}

header nav.mb ul{
    width: 100%;
    left: 0;
    top: 120px;
    border-bottom: 4px solid #EB2D2D;
    z-index: 999;
    position: absolute;
    text-align: center;
    background-color: white;
    display: none;
}

header nav.mb li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
    border-bottom: 2px solid grey;
}

header nav.mb li:last-child{
    border: none;
}

nav.mb li a{
    color: black;
    text-decoration: none;
}

header nav.pc ul{
    list-style-type: none;
}

header nav.pc ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}

header nav.pc a{
    color: black;
    text-decoration: none;
}

section.banner{
    overflow: hidden;
    width: 100%;
    height: 100vw;
    min-height: 600px;
    max-height: 800px;
    background-color: black;
    background-image: url("../imagem/bg.jpg");
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 100px;
}

.text-banner-single{
    font-style: italic;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 12px 30px;
    width: 314px;
    height: 60px;
    color: white;
    font-size: 23px;
    background-image: url("../imagem/box-text.png");
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 250px;
    height: 60px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 200px;
    height: 60px;
    position: relative;
    left: -18px;
}

.text-banner .text-banner-single:nth-of-type(4){
    font-size: 21px;
    width: 320px;
    height: 60px;
    color: black;
    position: relative;
    left: -30px;
    background-image: url("../imagem/box-white-text.png");
}

section.destaque{
    padding: 90px 2%;
}

section.destaque .container{
    max-width: 1000px;
    padding: 40px 0;
    text-align: center;
}

.line-titulo{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.ln1{
    position: relative;
    height: 2px;
    width: 100%;
    top: 22px;
    background-color: black;
}

.line-titulo h2{
    position: relative;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    padding: 0 15px;
    font-style: italic;
    text-transform: uppercase;
}

.vitrine{
    float: left;
    width: 33.3%;
}

.vitrine .carro-img{
    width: 100%;
    padding-top: 100%;
    border: 8px solid white;
    background-size: 100% 100%;
}

.vitrine h2{
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
    text-align: left;
}

.vitrine p{
    padding-left: 8px;
    color: #353535;
    font-size: 16px;
    font-style: italic;
    padding-top: 8px;
    text-align: left;
}

.btn1{
    text-align: center;
    color: white;
    font-size: 16px;
    font-style: italic;
    width: 150px;
    display: block;
    line-height: 35px;
    background-color: #EB2D2D;
    text-decoration: none;
    border-bottom: 4px solid #B21E1E;
    cursor: pointer;
}

.vitrine a{
    margin-top: 10px;
    margin-left: 8px;
}

.servicos{
    display: flex;
}

.half1{
    width: 50%;
    text-align: right;
    padding: 90px 2%;
    background-color: #242424;
    color: white;
}

.half1-wraper{
    padding-right: 30%;
    text-align: left;
    display: inline-block;
}

.half1-wraper h2{
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

.half1-wraper ul{
    display: inline-block;
    margin-top: 20px;
}

.half1-wraper li{
    margin-left: 15px;
}

.half1-wraper a{
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.half2{
    width: 50%;
    padding: 90px 100px;
    background-color: #EB2D2D;
    color: white;
}

.half2 h2{
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

.half2 .depoimento-single{
    margin-top: 19px;
}

.depoimento-single p{
    font-size: 21px;
}

.setas{
    float: left;
    width: 100%;
    max-width: 700px;
    margin-top:  30px;
}

.setas img{
    cursor: pointer;
    margin: 0 20px;
}

.flecha{
    float: left;
}

.nome{
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contato{
    padding: 80px 2%;
}

section.contato form{
    max-width: 600px;
    margin: 30px auto;
}

section.contato .input-wraper{
    float: left;
    padding: 10px;
    margin-top: 10px;
}

section.contato input[type=text]{
    width: 100%;
    border: 1px solid #CCC;
    height: 70px;
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
}

section.contato textarea{
    font-size: 16px;
    width: 100%;
    border: 1px solid #CCC;
    height: 140px;
    padding: 8px;
    resize: none;
}

section.contato form .input-wraper:nth-of-type(5){
    text-align: center;
}

section.contato input[type=submit]{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    cursor: pointer;
    display: inline-block;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

footer{
    margin-top: 20px;
    padding: 40px 2%;
    background-color: #252525;
}

footer nav{
    float: left;
}

footer nav ul{
    list-style-type: none;
}

footer nav ul li{
    font-style: italic;
    padding: 15px;
    float: left;
    font-size: 20px;
}

footer nav ul a{
    color: white;
    text-decoration: none;
}

footer p{
    float: right;
    color: white;
    font-size: 20px;
    font-style: italic;
}

section.venda{
    padding: 70px 0;
    min-height: 90%;
}

.content-venda{
    margin-top: 25px;
}

.sidebar{
    float: left;
    width: 30%;
}

.search1{
    width: 90%;
}

.search1 h2{
    font-size: 24px;
    color:black;
    font-weight: normal;
}

.search1 .barra-preco{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: white;
    margin-top: 8px;
    border-radius: 20px;
    border: 1px solid #CCC;
}

.fill{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
}

.pointer-barra{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: -3;
    cursor: pointer;
}

.valor-pesquisa{
    margin-top: 8px;
}

.valor-pesquisa p{
    color: black;
    font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
    float: left;
}

.valor-pesquisa p:nth-of-type(2){
    float: right;
}

.search2{
    margin-top: 40px;
}

.search2 h2{
    font-size: 24px;
    color:black;
    font-weight: normal;
}

.form-venda-wraper{
    margin-top: 8px;
}

.form-venda-wraper input[type=checkbox]{
    display: none;
}

.form-venda-wraper label{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.form-venda-wraper input[type=checkbox]:checked + label > .circle{
    display: block;
}

.circle{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: black;
    position: relative;
    left: 6px;
    top: 6px;
    display: none;
}

.form-venda-wraper span{
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}

.vitrine-venda{
    overflow: hidden;
    float: left;
    width: 70%;
}

.vitrine-venda .vitrine{
    margin-top: 20px;
}

section.venda-single{
    padding: 80px 2% 0 2%;
}

section.venda-single .container{
    padding: 40px 0 0 0;
    text-align: center;
    max-width: 1280px;
}

.info-veiculo{
    display: inline-block;
    width: 60%;
}

.foto-destaque{
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.descricao-veiculo{
    vertical-align: top;
    display: inline-block;
    padding: 60px 20px;
    text-align: left;
}

.descricao-veiculo p{
    font-size: 17px;
    margin-top: 25px;
    max-width: 360px;
}

.descricao-veiculo a{
    margin-top: 15px;
}

.nav-galeria-parent{
    width: 100%;
    padding: 36px;
    position: relative;
}

.flecha-esq-nav{
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url('../imagem/setae.png');
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
}

.flecha-dir-nav{
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url('../imagem/setad.png');
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
}

.info-bread{
    padding: 20px 0;
    text-align: left;
}

.info-bread a{
    text-decoration: none;
    color: black;
}

.info-bread a:last-child{
    color: red;
}

.info-bread span{
    padding: 0 30px;
}

.nav-galeria{
    overflow: hidden;
    width: 100%;
}

.nav-galeria-wraper{
    /*
        VIA JS
    */
}

.mini-img-wraper{
    float: left;
    padding: 9px;
    /*
        width - VIA JS
    */
}

.mini-img{
    width: 100%;
    cursor: pointer;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
}

section.sobre{
    min-height: 90%;
    padding: 60px 2% 20px 2%;
}

section.sobre .container{
    max-width: 840px;
    margin-top: 30px;
}

section.sobre .img-sobre{
    width: 100%;
    padding-top: 60%;
    background-color: rgb(220, 220, 220);
}

section.sobre .descricao-autor{
    margin-top: 20px;
}

.descricao-autor h2{
    font-size: 24px;
}

.descricao-autor p{
    line-height: 25px;
    font-size: 16px;
    margin-top: 10px;
}

.descricao-autor2{
    margin-top: 40px;
}

.img-p{
    width: 30%;
    padding-top: 30%;
    float: left;
    background-color: rgb(220, 220, 220);
}

.descricao-autor2 p{
    float: left;
    width: 70%;
    line-height: 25px;
    padding: 15px;
}

@media screen and (max-width: 1400px){
    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1350px){
    .search1,.search2{
        margin-left: 5%;
    }
}

@media screen and (max-width: 1210px){

    .half1{
        text-align: center;
    }

    .half1-wraper{
        text-align: left;
        padding-right: 0;
    }

    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }

}

@media screen and (max-width: 1024px){
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 800px){
    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px){

    section.servicos{
        flex-direction: column;
    }

    .half1, .half2{
        padding: 80px 4%;
        width: 100%;
    }

    nav.pc{
        display: none;
    }

    header nav.mb{
        display: block;
    }

    .w50{
        width: 100%;
    }

    footer nav{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer p{
        float:  none;
    }

    .sidebar{
        width: 100%;
        text-align: center;
    }

    .search1{
        display: inline-block;
    }

    .search2{
        text-align: left;
        display: inline-block;
    }

    .vitrine-venda{
        text-align: center;
        width: 100%;
    }

    .info-veiculo{
        width: 100%;
    }

    .descricao-veiculo a{
        display: inline-block;
    }

    .descricao-veiculo {
        padding: 20px 2%;
        text-align: center;
    }

    .descricao-veiculo p{
        max-width: none;
    }
}

@media screen and (max-width: 580px){
    .text-banner{
        padding: 30px;
    }
    
    .text-banner-single{
        font-size: 18px;
    }

    section.destaque .line-titulo h2{
        font-size: 25px;
    }

    .vitrine{
        display: inline-block;
        float: none;
        width: 75%;
        margin-top: 20px;
    }

    .vitrine h2{
        text-align: center;
    }

    .vitrine p{
        text-align: center;
    }

    .vitrine a{
        display: inline-block;
    }

    .descricao-autor h2{
        width: 100%;
        padding: 20px 0;
        text-align: center;
        font-size: 30px;
    }

    .descricao-autor p{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .img-p{
        width: 100%;
        padding-top: 100%;
    }

    .descricao-autor2 p{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    .vitrine{
        width: 100%;
    }
}